html {
  font-size: 62.5%;
}

:root {
  --medium-screen: 820px;
  --mobile-screen: 500px;
  --bg-body: #6d6969;
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-body);
}

* {
  box-sizing: border-box;
}

.calculator-container {
  margin: 5.5em;
}

.center {
  position: relative;
  margin: 0 auto;
}

.calculator {
  border-radius: 15px;
  background-color: rgb(19, 4, 4);
  min-height: 60em;
  width: 50em;
  padding: 2.5em;
}

@media only screen and  (max-width: 820px) {
  .calculator-container {
    margin: 1.5em;
  }

  .calculator {
    margin-top: 25vw;
    width: 60%;
  }
}

@media (max-width: 500px) {
  .calculator-container {
    margin: 1.5em;
  }

  .calculator {
    margin-top: 5vh;
    width: 90%;
  }
  .center {
    position: none;
  }
}