.btn-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.8em;
}

.btn {
  padding: 1em;
  font-size: 2rem;
  font-weight: bolder;
}

.deleteBtn, .clearBtn {
  padding: 1.3em;
  grid-column: span 2;
}

@media (max-width: 500px) {
  .btn {
    padding: 1.2em;
    font-size: 1.8rem;
  }
}